@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,100;1,800&display=swap');
.container{
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}
.title{
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  color: #f7f7f7;
  text-transform: uppercase;
  margin-top:10%;
}
@media screen and (max-width: 781px) {
.title{
  margin-top:17%;
}
}
.description{
  text-align: center;
}

.form-control{
  border-radius: 15px;
  margin: 0.5rem;
  padding:10px;
  border: 0px;
  opacity: 0.9;
  width: 280px;
  font-size: 0.9rem;
  font-weight: 700;

}
.form-control:hover{
  opacity: 1;
}
.form-control:focus{
  opacity: 1;
  outline: none;
  border-bottom: 5px solid #01d449;
}
.div-form-control{
  text-align:center;
}
.background{
  background-image: url('../../../../assets/background.svg');
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.button{
  border: none;
  background-color: #01d449;
  color: #f7f7f7;
  height: 3rem;
  width: 10rem;
  font-size: 1.1rem;
  border-radius: 25px;
}
button:disabled{
  background-color: #73ff64;
}

.google{
  display: flex;
  justify-content: center;
  margin:10px;
}
.hint{
  margin:20px;
  color: #f7f7f7;
}
.link{
  color: #01d449;
}
p{
  color: #f7f7f7;
}
.feedback {
  margin: auto;
  text-align: center;
}

.feedback p {
  margin: auto;
  text-align: center;
  color: #f1f1f1;
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
}