
<div class = "background">
  <div class="container">
      <h1 class="title">Imposta la tua nuova password</h1>
      <form [formGroup]="form" (ngSubmit)="change()">
        <div class="div-form-control">
          <input type="password" formControlName="password" class="form-control" placeholder="Nuova password">
          <br>
          <label *ngIf="form.get('password')?.dirty==true && form.get('password')?.valid==false" for="password"  class="hint">Il campo password deve essere compilato e deve essere lungo almeno 8 caratteri contenente almeno lettera maiuscola, minuscola, un numero e i caratteri speciali come ! # $ % & ? .</label>
        </div>
        <div class="div-form-control">
          <input type="password" formControlName="password2" class="form-control" placeholder="Ripeti la password">
          <br>
          <label *ngIf="this.form.getError('mismatch') && this.form.get('password2')?.dirty" class="hint">Le password devono coincidere</label>
        </div>
        <button type="submit" id="submit" [disabled]="!form.valid" class="button" #submit>Imposta nuova password</button>
      </form>
      <div class="feedback"><p>{{feedback}}</p></div>
  </div>
</div>