
<div class = "background">
  <div class="container">
    <h1 class="title">Recupera la tua password</h1>
    <form [formGroup]="form" (ngSubmit)="reset()">
      <div class="div-form-control">
        <input type="email" formControlName="email" class="form-control" placeholder="Email">
        <br>
        <label *ngIf="form.get('email')?.dirty==true && form.get('email')?.valid==false" for="email" class="hint">Il campo deve essere compilato e deve contenere una mail valida</label>
      </div>
      <button type="submit" id="submit" [disabled]="!form.valid" class="button" #submit>Invia link</button>
    </form>
    <div class="feedback"><p>{{feedback}}</p></div>
  </div>
</div>