<h1>Recupera la tua password</h1>
<form [formGroup]="form" (ngSubmit)="reset()">
    <label for="email">Email</label>
    <br>
    <input type="email" formControlName="email">
    <br>
    <label *ngIf="form.get('email')?.dirty==true && form.get('email')?.valid==false" for="email">IL campo deve essere compilato e deve contenere una mail valida</label>
    <br>
    <button type="submit" id="submit" [disabled]="!form.valid" class="btn btn-primary" #submit>Invia link</button>
  </form>
  <p>{{feedback}}</p>