<form [formGroup]="form" (ngSubmit)="login()">
    <label for="email">Email</label>
    <br>
    <input type="email" formControlName="email">
    <br>
    <label *ngIf="form.get('email')?.touched==true && form.get('email')?.valid==false" for="email">IL campo deve essere compilato e deve contenere una mail valida</label>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" formControlName="password">
    <br>
    <label *ngIf="form.get('password')?.touched==true && form.get('password')?.valid==false" for="password">Il campo password deve essere compilato</label>
    <br>

    <button type="submit" id="submit" [disabled]="!form.valid">Registrati</button>
</form>
<p>{{feedback}}</p>
<a href="./register">Non sei registrato? Registrati!</a>
<br>
<a href="./reset-password">Dimenticata la password? Recuperala!</a>