<form [formGroup]="form" (ngSubmit)="changePassword()">
    <label for="name">Vecchia password:</label>
    <br>
    <input type="password" formControlName="oldPassword">
    <br>
    <label *ngIf="form.get('oldPassword')?.dirty==true && form.get('oldPassword')?.valid==false" for="name">Il campo deve essere compilato</label>
    <br>
    <label for="password">Nuova password</label>
    <br>
    <input type="password" formControlName="password">
    <br>
    <label *ngIf="form.get('password')?.dirty==true && form.get('password')?.valid==false" for="password">Il campo password deve essere compilato e deve essere lungo almeno 8 caratteri contenente almeno lettera maiuscola, minuscola, un numero e i caratteri speciali come ! # $ % & ? .</label>
    <label *ngIf="this.form.getError('match') && this.form.get('password')?.dirty">La password deve essere diversa dalla attuale</label>
    <br>
    <label for="password">Ripeti la nuova password</label>
    <br>
    <input type="password" formControlName="password2">
    <br>
    <label *ngIf="this.form.getError('mismatch') && this.form.get('password2')?.dirty">Le password devono coincidere</label>
    <button type="submit" id="submit" [disabled]="!form.valid">Registrati</button>
  </form>
  <p>{{feedback}}</p>