.scroller{
    display:flex;
    margin-left: auto;
    margin-right: 0;
}   
.arrow{
    width: 300px;
    height: 200px;
    background: #000;
    position: absolute;
    
    top: 50px;
    left: 100px;
}

.div-arrow {
    align-items: center;
    display: flex;
}
