<div *ngIf='feedback==""||canView'>
    <form *ngIf="quiz">
        <h2 class="quiz-title">{{quiz.title}}</h2>
        <h3 class="quiz-description">{{quiz.description}}</h3>
        <div class="container">
            <div *ngIf="quiz.questions">
                <div class="question-text">
                    <h4>{{quiz.questions[index].title}}</h4>
                </div>
                    <div *ngFor="let answers of quiz.questions[index].answers ; let j = index" class="container-answers">
                        <button class="answer-choices" (click)="setCorrect(j)" *ngIf="!answers.correct">{{answers.text}}</button>
                        <button class="answer-choices answer-selected" (click)="setCorrect(j)" *ngIf="answers.correct">{{answers.text}}</button>
                    </div>
                    <br>
            </div>
            <div>
                <div class="box">
                    <div class="box-confirm">
                        <button class="button" (click)="previous()" [disabled]="!arrowLeftStyle" >Indietro</button>
                    </div>
                    <div class="box-confirm">
                        <button class="button" (click)="next()" [disabled]="!arrowRightStyle" >Avanti</button>
                    </div>
                </div>        
            </div>
        </div>
        <div class="box-confirm ">
            <button type="submit" id="submit" class="button" (click)="submitQuiz()" [disabled]="!allCompiled" #submit>Invia quiz!</button>
        </div>
    </form>
</div>
<div class="quiz-completed"><p>{{feedback}}</p></div>
